<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alan.slidingmenu" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_wl_training"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NouvelleSeanceActivity"
            android:label="@string/redigerSeance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SeanceTabhost"
            android:label="@string/seance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.HistoriqueActivity"
            android:label="@string/historique"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SeanceActivity"
            android:label="@string/seance"
            android:screenOrientation="portrait"
            android:keepScreenOn="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.IWFActivity"
            android:label="@string/totalIWF"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity.CompetitionActivity"
            android:label="@string/competition"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity.ChargementActivity"
            android:label="@string/chargement"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity.DicoExerciceActivity"
            android:label="@string/exercice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Popup.PopupDescExercice"
            android:label="@string/exercice"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity.CompteActivity"
            android:label="@string/monCompte"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity.RecordsActivity"
            android:label="@string/records"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity.MinimaActivity"
            android:label="@string/minimas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity.CreditActivity"
            android:label="@string/creditName"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Activity.AideActivity"
            android:label="@string/aide"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
